@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fff;
  --color-secondary: 172 172 172;

  --white: #fff;
  --black: #000;

  --background-light: var(--white);
  --text-color-dark: var(--black);

  --background-dark: var(--black);
  --text-color-light: var(--white);
}

body {
  line-height: 1.4;
}

@layer base {
}
